<!DOCTYPE html>
<!-- <html ng-app> -->
<html ng-app="app">
  <head>
  <title>Simple App</title>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.6/angular.js"></script>
  </head>

  <body>
    <div ng-controller="FirstController">
      <h4>The simplest adding machine ever</h4>
      <button ng-click="add(1)" class="button">Add</button>
      <button ng-click="subtract(1)" class="button alert">Subtract</button>
      <h4>Current count: {{ counter }}</h4>
    </div>

    <div ng-controller="ParentController">
      <div ng-controller="ChildController">
        <a ng-click="sayHello()">Say Hello</a>
      </div>
      {{ person }}
    </div>
    <script type="text/javascript" src="controller/app.js"></script>
  </body>
</html>
